<div>
  <div>
    <h1>
      List of all users
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new user
    </h2>

    <form action="/insert_user" method="post">
      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count">
      </div>

      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count">
      </div>

      <div>
        <label for="password_digest_box">
          Password digest
        </label>

        <input type="text" id="password_digest_box" name="query_password_digest">
      </div>

      <div>
        <input type="checkbox" id="private_box" name="query_private" value="1">

        <label for="private_box">Private</label>
      </div>

      <div>
        <label for="username_box">
          Username
        </label>

        <input type="text" id="username_box" name="query_username">
      </div>

      <button>
        Create user
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>
        
        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.username %>
        </td>

        <td>
          <%= a_user.private %>
        </td>

        <td>
          follow
        </td>

        <td>
          <a href="/users/<%= a_user.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
